.item-container {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    padding: 10px;
    width: 750px;
    margin-top: 20px;
    height: 40px;
    align-items: center;
}
.item-container:hover {
    border: 1px solid rgb(251, 184, 41);
}
.item {
    margin-right: auto;
    color:  rgb(250, 130, 130) 
}

.price { 
    margin-right: 150px;
    color: rgb(251, 184, 41);
}
.edit-button {
    margin-right: 100px;
}

.item-container button {
    transition: 0.3s ease;
}

.item-container button:hover {
    cursor: pointer;
    color: rgb(251, 184, 41);
}