.sheet { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 75%;
    height: auto;
    padding: 0px;
    grid-area: "content";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date {
    color: rgb(230, 179, 40);
    width: 60px;
    text-align: center;
}

.taskBar {
    display: flex;
    justify-content: space-evenly;
    gap: 34px;
    align-items: center;
}
.taskBar button {
    display: inline-block;
    padding: 0px;
    height: 0px;    
    transition: 0.3s ease;
    color: rgb(220, 151, 151);
}
.taskBar button:hover {
    color: rgb(236, 190, 27);
    cursor: pointer;
}

.headerBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerBar div {
    display: flex;
    gap: 24px;
}

.headerBar input {
    color: white;
}
.category {
    transition: 0.3s ease;
    border: 1px solid rgb(236, 190, 27);
    padding: 5px;
}

.category:hover {
    color: rgb(236, 190, 27);
    cursor: pointer;
}

.todo-input2 {
    color: white;
    margin-left: 5px;
}
    
.list-container {
    display: flex;
    flex-direction: column;
}

.headerBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 1px solid white;
    padding: 10px;
}

.sheet input {
    border: 1.5px solid rgb(198, 162, 80);
}

